.button-actions {
    display: flex;
    margin:auto;
}

.post-comment textarea {
    width: 80%;
    border-radius: 5px;
    margin: 16px auto;
    display: block;
    background:var(--main-bg);
    padding: 8px;
    color:var(--main-fg);
    border: 1px solid var(--main-fg);
}

.post-comment button {
    color: var(--main-fg);
    background: none;
    border-radius: 4px;
}

.rest-of-comments li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.rest-of-comments p {
    font-size: 12px;
}

.rest-of-comments li div:first-child {
    flex: 1;
}

.rest-of-comments li div:nth-child(2) {
    flex: 7;
}

.comment-date-action button {
    color: var(--main-cyan);
    padding: 0;
    margin: 0;
}

.rest-of-comments {
    border: 1px solid var(--main-fg);
    margin: 16px;
    border-radius: 5px;
    padding: 32px 32px 32px 0;
}

p.date {
    color: var(--main-yellow);
    font-family: "IBM Plex Mono", monospace;
    font-size:0.6em;
    font-weight:700;
}

.rest-of-comments h5 {
    color: var(--main-color);
}

button.hide-comments {
    display: inline-block;
    margin: 0;
    float: right;
    text-align: right;
    font-weight: 500;
}

.rest-of-comments li:last-of-type {
    padding-bottom: 16px;
}